* {
    padding: 0;
    margin: 0;
}

body * {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

form {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

form *{
    text-align: left;
    background-color: transparent;
    border: none;
    position: fixed;
    left: 0;
    z-index: 999;
    width: 15%;
}

form #text_input {
    top: 0;
}

form #size_input {
    top: 15px;
}

form #color_pause{
    top: 30px;
    width: auto;
}

form #anim_pause{
    top: 30px;
    left: 12px;
    width: auto;
}

.center_outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.center_middle {
    display: table-cell;
    vertical-align: middle;
}